body {
  font-family: sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 { margin-bottom: 20px; }

.inputs {
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}
button {
  background: #22c55e;
  color: white;
  font-weight: bold;
}
